@using ED.STEM.Domain.Entities
@model ED.STEM.WebApp.Models.STEMProgramsListViewModel
@{
    ViewBag.Title = "Programs";
}
@foreach (var p in Model.STEMPrograms)
{
    @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

